@page "/add-book"

@inherits AddBookBase.AddBookBase

<h3>Add Book to the Library</h3>

<div class="container" style="width:50%">
    <div class="row g-3">
        <div class="col-md-6">
            <label class="form-label">Book ID:</label>
            <input type="number" name="bookId" class="form-control" @bind=Book.Id />
        </div>
    </div>
    <div class="row g-3">
        <div class="col-md-6">
            <label class="form-label">Book Title:</label>
            <input type="text" name="bookTitle" class="form-control" @bind=Book.Title />
        </div>
    </div>
    <div class="row g-3">
        <div class="col-md-6">
            <label class="form-label">
                Book Description:
            </label>
            <input type="text" name="bookDesc" class="form-control" @bind=Book.Description />
        </div>
    </div>
    <div class="row g-3">
        <div class="col-md-6">
            <label class="form-label">Book Image URL</label>
            <input type="text" name="bookImage" class="form-control" @bind=Book.BookImage />
        </div>
    </div>
    <div class="row g-3">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" @onclick="() => SaveBook()">Add</button>
        </div>
    </div>

</div>