@page "/add-book"

@inherits AddBookBase.AddBookBase

<h3>Add Book to the Library</h3>

<div class="container" style="width:50%">
    <div class="row g-3">
        <div class="col-md-6">
            <label class="form-label">Book Title:</label>
            <input type="text" name="bookTitle" class="form-control" @bind=Book.BookTitle />
        </div>
    </div>
    <div class="row g-3">
        <div class="col-md-6">
            <label class="form-label">
                Book Description:
            </label>
            <input type="text" name="bookDesc" class="form-control" @bind=Book.BookDesc />
        </div>
    </div>
    <div class="row g-3">
        <div class="col-md-6">
            <label class="form-label">Book URL</label>
            <input type="text" name="bookUrl" class="form-control" @bind=Book.BookUrl />
        </div>
    </div>
    <div class="row g-3">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" @onclick="() => SaveItem()">Add</button>
        </div>
    </div>

</div>