@page "/adminDashboard"


<title>Library Management System| Admin Dashboard</title>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png" width="60" height="60" class="d-inline-block align-top" alt="">
        Library MS - Group 8
    </a>
</nav>
<!-- Side navigation -->
<div class="sidenav">
    <a href="/">Login Page</a>
    <a href="/books">Books</a>
    <a href="/add-book">Add New Book</a>
</div>

<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="/books">Books</a> <span class="divider">/</span></li>
    <li class="active">Admin</li>
</ul>


<h1>This is admin dashboard</h1>